@font-face {
    font-family: SourceSansPro-Light; 
    src: url(../fonts/SourceSansPro-Light.ttf); 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* HEADER PART */
header {
    padding-top: 15px;-++*/
    background-color: #ffffff;
    height: 107px;
    font-family: Century Gothic, sans-serif;
}
header img {
    display: block;
    margin: 0 auto;
}


/* SLIDER PART */
.slider-wrapper {
    height: 504px;
    background-color: #ff8b1e;
}
.slider {
    width: 954px;
    height: 467px;
    margin: 0 auto;
    background-color: white;
}
.slider .form-wrapper, .slide {
    display: inline-block;
}
.slide img {
    display: none;
}
.slide .active {
    display: inline-block
}
.slider .form-wrapper {
    vertical-align:top;
    width: 477px;
    height: 467px;
    margin-left: -5px;
}
form {
    color: #666666;
    font-size: 18px;
    font-family: SourceSansPro-Light;;
    margin-left: 22px;
}
form p:first-letter {
    text-transform: capitalize;
}
form p {
    margin-right: 69px;
}
h2 {
    margin-top: 22px;
    color: #ff8210;
    font-size: 44px;
    background: -webkit-linear-gradient(#ffc895, #ff8210);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 span {
    text-transform: uppercase;
}
h2:first-letter {
    text-transform: capitalize;
}


/* RATIO GENDER SELECT */
.gender-select p {
    padding-top: 8px;
    vertical-align: top;
    display: inline-block;
}
.looking-for {
    margin-right: 15px;
    margin-left: 13px;
}
#left_male, #left_female {
    display: none;
}
#right_male, #right_female {
    display: none;
}
.female-left, .female-right, .male-left, .male-right {
    border: solid 1px #b9793f;
    display: inline-block;
    padding: 3px 15px;
    cursor: pointer;
    background-color: white;
}
.female-left, .female-right {
    content: url(../images/female-orange.png);
    border-radius: 18px 0 0 18px;

}
.male-left, .male-right {
    margin-left: -5px;
    content: url(../images/male-orange.png);
    border-radius: 0 18px 18px 0;
}
#left_male:checked ~ .male-left, #left_female:checked ~ .female-left, #right_male:checked ~ .male-right, #right_female:checked ~ .female-right {
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180,96,22,1)), color-stop(100%, rgba(255,172,3,1)));
    background: -webkit-linear-gradient(top, rgba(180,96,22,1) 0%, rgba(255,172,3,1) 100%);
    background: linear-gradient(to bottom, rgba(180,96,22,1) 0%, rgba(255,172,3,1) 100%);
    background: -moz-linear-gradient(top, rgba(180,96,22,1) 0%, rgba(255,172,3,1) 100%);
    background: -ms-linear-gradient(top, rgba(180,96,22,1) 0%, rgba(255,172,3,1) 100%);   
    background: -o-linear-gradient(top, rgba(180,96,22,1) 0%, rgba(255,172,3,1) 100%);
}
#left_female:checked ~ .female-left, #right_female:checked ~ .female-right {
    content: url(../images/female-white.png);
}
#left_male:checked ~ .male-left, #right_male:checked ~ .male-right {
    content: url(../images/male-white.png);
}

/* SECTION PART */
.wrapper {
    padding-top: 45px;
    max-width: 960px;
    margin: 0 auto;
    height: 827px;
}
h3 {
    font-family: SourceSansPro-Light;
    font-size: 31px;
    color: #4e4e4e;
}
h3:first-letter {
    text-transform: capitalize;
}
.code-this-block{
    width: 475px;
    height: 255px;
    
    overflow: hidden;
}
.code-this-block img {
    float: left;
    margin-right: 13px;
    shape-outside:circle(50%);
}
.code-this-block p {
    font-family: SourceSansPro-Light;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
    color: #4e4e4e;
    margin-left: 10px;
}
.code-this-block h3 {
    margin-bottom: 30px;
}
.code-this-block, .user-list-wrapper {
    display: inline-block;
    vertical-align: top;
}
.user-list-wrapper {
    margin-left: 25px;
}
.user-list {
    width: 394px;
}
.arrow, .user-list {
    display: inline-block;
    vertical-align: top;
}
.arrow {
    margin-top: 77px;
}
.previous {
    margin-right: 5px;
}
.next {
    margin-left: 5px;
}
.user {
    background-image: url(../images/user.png);
    width: 70px;
    height: 70px;
    display: inline-block;
    margin-left: 5px;
}